# {{ ansible_managed }}

defaults
auth            on
tls             on
tls_trust_file  /etc/ssl/certs/ca-certificates.crt

account         default
host            smtp.squat.net
port            587
from            spica@squat.net
user            spica
password        {{ spica_at_squatnet_smtp_password }}
