#!/bin/sh

# {{ ansible_managed }}

###
# This script will check disk space for / and send an email if it uses more
# than {{ disk_usage_alert }}
###

disk_usage_pcent="$(df --output=pcent / | sed 1d)"
disk_usage=${disk_usage_pcent%\%}
alert_pcent="{{ disk_usage_alert }}"
alert=${alert_pcent%\%}

if [ $disk_usage -ge $alert ]; then
	echo "Disk usage alert on {{ ansible_hostname }}, / is at \
		$disk_usage_pcent." | \
			mail -s "Disk usage alert on {{ ansible_hostname }}" \
		       	tech@schleuder.squat.net
fi
