" {{ ansible_managed }}

runtime! debian.vim
syntax on
set background=dark

" jump to last position - not on gitcommits.
if has("autocmd")
  au BufReadPost * if &filetype != 'gitcommit'|if line("'\"") > 0|if line("'\"") <= line("$")|exe("norm '\"")|else|exe "norm $"|endif|endif|endif
endif

" Uncomment the following to have Vim load indentation rules and plugins
" according to the detected filetype.
if has("autocmd")
  filetype plugin indent on
endif

set showcmd         " Show (partial) command in status line.
set showmatch       " Show matching brackets.
set ignorecase      " Do case insensitive matching
set smartcase       " Do smart case matching
set incsearch       " Incremental search
